#container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.box {
    flex: 1 1 auto;
    background-color: aqua;
    border: 1px solid black;
}

.selected {
    background-color: black;
}
